* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    font-size: 11px; 
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 150px;
    border: 3px solid rgba(255, 255, 255, 0.289199);
    border-radius: 15px;
    margin: 48px 333px 0px 333px;
    padding: 18px 24px 18px 24px;
    text-align: center;
}

.header > img {
    width: 155px;
    height: 93px;
}

.scorecard {
    background-color: white;
    border-radius: 5px;
    width: 150px;
    height: 114px;  
    padding: 30px 47px;
}

.scorecard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 83px;
}
.score-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: #2A45C2;
}

.score-num {
    margin-top: -15px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #565468;
}

.who-picked-what {
    display: none;
    justify-content: space-between;
    width: 550px;
    text-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    font-size: 24px;
    font-family: Barlow Semi Condensed;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-left: 421px;
    /* margin-bottom: 50px; */
    margin-right: 395px;
    text-align: center;
    margin-bottom: 63px;
    text-transform: uppercase;
}

.game {
    position: relative;
    width: 476px;
    height: 430px;
    margin: auto;
    text-align: center;
}

.image-triangle {
    margin-top: 164px;
    z-index: 1;
    width: 254px;
    height: 287px;
}

/* Below are the border colours */
.paper {
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 2; 
    cursor: pointer;
}
.paper:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25); 
}

.scissors{
    position: absolute; 
    top: 60px;
    right: 0px; 
    z-index: 2;
    cursor: pointer;
}

.scissors:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25); 
}

.rock {
    position: absolute;
    top: 325px; 
    left: 140px;
    z-index: 2;
    cursor: pointer;
}

.rock:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25); 
}

.rules > button {
    margin-top: 100px;
    width: 128px;
    height: 40px;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Barlow Semi Condensed;
    font-weight: 600;
    letter-spacing: 2.5px;
    border: 1px solid white;
    border-radius: 8px;
    text-transform: uppercase;
    float: right;
    right: 30px;
    cursor: pointer;
}

  .rules-image {
    position: fixed;
    top: 150px;
    left: 500px;
    width: 400px;
    height: 400px;
    z-index: 9999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules > button:hover {
    background-color: white;
    color: #3B4262;
}

.second-screen {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 622px;
    margin-top: 75px;
    margin-left: 385px;
    padding-right: 40px;
    text-align: center;
}

.blackbox {
    display: block;
    width: 225px;
    height: 225px;
    border-radius: 224.631px;
    background: rgba(0, 0, 0, 0.10);
    padding-left: 200px;
}

.result-display {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 77px;
    /* margin-top: -10px; */
    margin-top: -70px;
    margin-left: 77px;
    margin-right: 77px;
    width: 220px;
}

.result-display > h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    font-size: 56px;
    font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.result-display > button {
    width: 220px;
    height: 48px;
    border-radius: 8px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);

    color: #3B4262;
    font-size: 16px;
    font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin-top: -25px;
}

/* Ripple Effect Generator */
.ripple-effect {
    position: relative;
    overflow: hidden;
    display: inline-block; /* Ensures the element expands to fit its content */
  }
  
  .ripple-effect::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    animation: rippleAnimation 1s linear infinite;
    animation-fill-mode: both;
  }
  
  @keyframes rippleAnimation {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.1);
    }
    50% {
      opacity: 0.3;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2);
    }
  }

  
   





