* {
    box-sizing: border-box;
}

:root {
    --light-text: #ffffff;
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --outline: hsl(217, 16%, 45%);
    --bg-grad-1: hsl(214, 47%, 23%);
    --bg-grad-2: hsl(237, 49%, 15%);
    --scissors-1: hsl(39, 89%, 49%);
    --scissors-2: hsl(40, 84%, 53%);
    --paper-1: hsl(230, 89%, 62%);
    --paper-2: hsl(230, 89%, 65%);
    --rock-1: hsl(349, 71%, 52%);
    --rock-2: hsl(349, 70%, 56%);
    --shadow-light: #00000026;
    --shadow-med: #0000004d;
}

body {
    background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
    font-size: 11px; 
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    text-transform: uppercase;
    min-height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 150px;
    border: 3px solid rgba(255, 255, 255, 0.289199);
    border-radius: 15px;
    margin: 48px 333px 0px 333px;
    padding: 18px 24px 18px 24px;
    text-align: center;
}

.header > img {
    width: 155px;
    height: 93px;
}

.scorecard {
    background-color: white;
    border-radius: 5px;
    width: 150px;
    height: 114px;  
    padding: 30px 47px;
}

.scorecard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 83px;
}
.score-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: #2A45C2;
}

.score-num {
    margin-top: -15px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #565468;
}

.who-picked-what {
    display: none;
    justify-content: space-between;
    width: 550px;
    text-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    font-size: 24px;
    font-family: Barlow Semi Condensed;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-left: 421px;
    /* margin-bottom: 50px; */
    margin-right: 395px;
    text-align: center;
    margin-bottom: 63px;
    text-transform: uppercase;
}

.game {
    position: relative;
    width: 476px;
    height: 430px;
    margin: auto;
    text-align: center;
}

.image-triangle {
    margin-top: 164px;
    z-index: 1;
    width: 254px;
    height: 287px;
}

/* Below are the border colours */
.paper {
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 2; 
    cursor: pointer;
}
.paper:hover {
    border-radius: 50%;
    /* box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);  */
    box-shadow: 0 0 0 2rem #223351;
}

.smaller {
    transform: scale(1);
   }

.scissors{
    position: absolute; 
    top: 60px;
    right: 0px; 
    z-index: 2;
    cursor: pointer;
}

.scissors:hover {
    border-radius: 50%;
    box-shadow: 0 0 0 2rem #223351; 
}

.rock {
    position: absolute;
    top: 325px; 
    left: 140px;
    z-index: 2;
    cursor: pointer;

    /* width: 198px;
    height: 203px; */
}

.rock:hover {
    border-radius: 50%;
    box-shadow: 0 0 0 2rem #223351;
}

.rules > button {
    margin-top: 100px;
    width: 128px;
    height: 40px;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Barlow Semi Condensed;
    font-weight: 600;
    letter-spacing: 2.5px;
    border: 1px solid white;
    border-radius: 8px;
    text-transform: uppercase;
    float: right;
    right: 30px;
    cursor: pointer;
}

  .rules-image {
    position: fixed;
    top: 150px;
    left: 500px;
    width: 400px;
    height: 400px;
    z-index: 9999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules > button:hover {
    background-color: white;
    color: #3B4262;
}

.second-screen {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 622px;
    margin-top: 75px;
    margin-left: 385px;
    padding-right: 40px;
    text-align: center;
}

.blackbox {
    display: block;
    width: 225px;
    height: 225px;
    border-radius: 224.631px;
    background: rgba(0, 0, 0, 0.10);
    padding-left: 200px;
}

.result-display {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 77px;
    /* margin-top: -10px; */
    margin-top: -70px;
    margin-left: 77px;
    margin-right: 77px;
    width: 220px;
}

.result-display > h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    font-size: 56px;
    font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.result-display > button {
    width: 220px;
    height: 48px;
    border-radius: 8px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);

    color: #3B4262;
    font-size: 16px;
    font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin-top: -25px;
}

/* Ripple Effect Generator */
.ripple-effect {
    box-shadow: 0 0 0 40px rgba(41, 50, 81, 0.9), 0 0 0 80px rgba(35, 44, 75, 0.9), 0 0 0 130px rgba(30, 40, 72, 0.9);
    animation: winner 1s ease forwards; 
    border-radius: 50%;
    z-index: -1;
}

@keyframes winner {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .hidden {
    display: none;
  }

/* Some files from codeStackr */
  /* Rules Button */
.rules-btn {
    position: absolute;
    bottom: -5rem; /*changed */
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid var(--outline);
    border-radius: 0.6rem;
    color: var(--light-text);
    padding: 0.6rem 2.5rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  .rules-btn:hover {
    border: 2px solid #fff;
    background: #fff;
    color: #000;
  }
  
  /* Rules Modal */
  .modal {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: var(--shadow-med);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 999;
  }
  .modal__container {
    background: #fff;
    border-radius: 0.5rem;
  }
  .modal__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
  }
  .modal__heading {
    font-size: 1.5rem;
    color: var(--dark-text);
  }
  .close-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .rules-img {
    padding: 2rem 4rem;
  }
  .show-modal {
    opacity: 1;
    pointer-events: initial;
  }
  

  @media(max-width: 375px){

	.header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 311px;
        height: 96px;

        border: 3px solid rgba(255, 255, 255, 0.289199);

        border-radius: 5px;
        margin: 32px 32px 0px 32px;
        padding: 12px 12px 12px 23px;
        text-align: center;
    }

    .header > img {
        width: 83px;
        height: 48px;
    }

    .scorecard {
        background-color: white;
        border-radius: 5px;
        width: 80px;
        height: 72px;  
        padding: 10px 24px;
    }

    .scorecard-content {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33px;
        height: 52px;
    }

    .score-text {
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: normal;
        letter-spacing: 1.5px;
        color: #2A45C2;
    }

    .score-num {
        margin-top: -15px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: #565468;
    }

    .game {
        position: relative;
        width: 312px;
        height: 282px;
        margin: auto;
        text-align: center;
    }

    .image-triangle {
        margin-top: 164px;
        z-index: 1;
        width: 166px;
        height: 188px;
    }

    .paper {
        position: absolute;
        top: 70px;
        left: -30px;
        z-index: 2; 
        cursor: pointer;
        transform: scale(0.65);

    }

    .scissors{
        position: absolute; 
        top: 70px;
        right: -30px; 
        z-index: 2;
        cursor: pointer;
        transform: scale(0.65);
    }

    .rock {
        position: absolute;
        top: 225px; 
        left: 55px;
        z-index: 2;
        cursor: pointer;
        transform: scale(0.65);
    }

    .second-screen {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 318px;
        margin-top: 75px;
        margin-left: 385px;
        padding-right: 40px;
        text-align: center;
    }

   .smaller {
    transform: scale(0.65);
   }
    
}
   





